<p id="notice">
	<%= notice %>
</p>

<p>
	<b>Title:</b>
	<%= @problem.title %>
</p>
<p>
	<%= image_tag @problem.picture.url %>
</p>
<p>
	<b>Description:</b>
	<%= @problem.description %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
